

.text-field {
  -fx-border-radius: 0 0 0 0;
  -fx-background-radius: 0 0 0 0;
  -fx-background-insets: 0,2;
  -fx-background-color: white,white;
}
.text-field:focused{
	-fx-background-color: #FFA540,white;
}
.text{
	
	
}


#welcome-text {
   -fx-font-size: 100px;
   -fx-font-family: "Arial Black";
   -fx-fill: #48839C;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.parameters {
	
	
}

#error {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.4), 5, 0, 1,1); 
}
