#circle {
	-fx-stroke:black;
}
#circle:hover{
	-fx-effect:dropshadow(three-pass-box , rgba(0,0,0,1),20, 0, 0,0); 
}
#edge{
	-fx-opacity:0.7;
	-fx-stroke:black;
	-fx-stroke-width:2px;
}
#edge:hover{
	-fx-opacity:1;
	-fx-stroke:#FFD040;
	-fx-stroke-width:3px;
}

#edgeChosen{
	-fx-opacity:1.0;
	-fx-stroke:#FF0D00;
	-fx-fill:#FF0D00;
	-fx-stroke-width:3px;
}
#edgeChosen:hover{
	-fx-opacity:1.0;
	-fx-stroke:#FFD040;
	-fx-fill:#FFD040;
	-fx-stroke-width:3px;
}
#graphPane{
	-fx-border-color:black;
	-fx-background-color:white;
}
#label{
	-fx-background-color:black,#FFA540;
	-fx-background-insets: 0,1;
    -fx-border-radius: 5,5;
    -fx-background-radius: 6,5;
    -fx-padding: 3 5 3 5;
    /*albo
	-fx-border-width:1px;
	-fx-border-color:black;*/
}

